In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

In [40]:
# x = np.loadtxt('impact_xy_001.txt', delimiter='\t', skiprows=8)
x = pd.read_csv('impact_xy_001.txt', decimal = ',', delimiter='\t', skiprows=8, header=None)

In [41]:
x

               0         1         2         3         4
0       0.000000  0.000658 -0.000047  0.001016  0.005531
1       0.000001  0.002991  0.000953  0.003016  0.006198
2       0.000002  0.003324  0.001287  0.003016  0.008531
3       0.000003  0.000324 -0.001380  0.002683  0.005531
4       0.000004  0.001324 -0.000047  0.003016  0.004531
...          ...       ...       ...       ...       ...
99996   0.099996 -0.052342  0.001620 -0.101984  0.002864
99997   0.099997 -0.054342  0.001620 -0.099317  0.002198
99998   0.099998 -0.051342  0.000287 -0.099984  0.004531
99999   0.099999 -0.053342 -0.000047 -0.099651  0.003864
100000  0.100000 -0.054676 -0.000047 -0.096984  0.001864

[100001 rows x 5 columns]